$path-to-root-dir: "../";
$main-bg-image: "images/main-bg-image.jpg"; // from root dir; src:http://www.teachthevote.org/blog-content/uploads/2015/11/ThinkstockPhotos-111939554.jpg

$main-elements-height: 75px;
$both-input-button-borders: 2px;

$main-bg-image-alt-color: #fefefe;

$color-links: #0db7b7;
$color-links-bg-hover: #eee;
$color-links-bg: #fefefe;

$standard-border: 2px solid #000;
