$path-to-root-dir: "../";
$main-bg-image: "images/main-bg-image.jpg"; // from root dir; src:http://www.teachthevote.org/blog-content/uploads/2015/11/ThinkstockPhotos-111939554.jpg

$main-elements-height: 75px;
$both-input-button-borders: 1px;
$standard-text-indent: 50px;
$small-text-indent: 20px;

$main-bg-image-alt-color: #fefefe;

$color-links: #0db7b7;
$color-links-bg-hover: #eee;
$color-links-bg: #fefefe;

$standard-border: 1px solid #000;
