// ------------------------------ imports
@import "reset";
@import "media-screen";
@import "global-variables";

// ------------------------------ mixins
@mixin background-size($bg-size) {
    -webkit-background-size: $bg-size;
    -moz-background-size: $bg-size;
    -o-background-size: $bg-size;
    background-size: $bg-size;
}

// ------------------------------ page structure (#page-wrap)
@import "header";

.content {
	padding: 5px;
}

.sidebar {

}

@import "footer";

// ------------------------------ partial cases
body {
    background: $main-bg-image-alt-color url($path-to-root-dir + $main-bg-image) no-repeat center center fixed;
    @include background-size(cover); // !!! after background-property !!!
	font-family: 'Open Sans', serif;
}

.page-wrapper {
    // sizes and position
	@extend .col-10;
    margin: 0 auto;
	overflow: hidden;
    // styles and color design
    background: rgba(100%, 100%, 100%, 0.95);
}

a {
    color: $color-links;
    text-decoration: none;

    &:hover {
        color: $color-links-bg;
        background: $color-links;
    }
}
