// ------------------------------ imports
@import "reset";
@import "media-screen";
@import "global-variables";

// ------------------------------ mixins
@mixin background-size($bg-size) {
    -webkit-background-size: $bg-size;
    -moz-background-size: $bg-size;
    -o-background-size: $bg-size;
    background-size: $bg-size;
}

// ------------------------------ page structure (#page-wrap)
@import "header";

.main-page-element {
	@extend .col-10;
	margin: 0 auto;
	overflow: hidden;
	background: rgba(100%, 100%, 100%, 0.95);
}

.page-wrapper {
	margin-top: -1px;
	border: 1px solid #000;

	.desc-info {
		padding: 20px 50px;
		background: #ecf0f1;
		text-align: left;

		h1, h2, h3, h4, h5, h6 {
			//color: #fefefe;
		}
	}
}

.sidebar {

}

@import "footer";

// ------------------------------ partial cases
body {
    background: $main-bg-image-alt-color url($path-to-root-dir + $main-bg-image) no-repeat center center fixed;
    @include background-size(cover); // !!! after background-property !!!
	font-family: 'Open Sans', serif;
}

a {
    color: $color-links;
    text-decoration: none;

    &:hover {
        color: $color-links-bg;
        background: $color-links;
    }
}
