@import "global-variables";

.contacts {
	.before-map {

		i.grid-7-widget-contacts-address {
			background: url("../images/sprites/grid-7-widget-contacts.png") -16px 0 no-repeat;
			width: 16px;
			height: 16px;
		}
	}

	.map-wrapper {
		iframe {
			position: relative;
			left: 50%;
			margin-left: -400px;
		}
	}

	.after-map {

	}
}