@import "global-variables";

.question-wrapper {
	float: left;

	.question-content {
		$question-wrapper-margin: 2%;
		$question-wrapper-padding: 2%;
		$option-select-size: 18px;
		$buttons-size: round(1.25 * $option-select-size);

		margin: $question-wrapper-margin;
		padding: $question-wrapper-padding;
		position: relative;
		-webkit-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);
		-moz-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);
		box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);

		h3 {
			max-width: 50%;
			font-size: round(1.5 * $option-select-size);
		}

		select, button.clear-all-options {
			top: 5px;
			right: 5px;
			position: absolute;
			max-width: 50%;
		}

		.question-head-wrapper {

			.question-title-wrapper {
				input {
					width: 75%;
					margin-left: $option-select-size;
					font-size: $buttons-size;
					padding-left: round(0.5 * $option-select-size);
				}
			}
		}

		.options-wrapper {
			.option-wrapper {
				margin: 2px 0;

				&:first-of-type {
					clear: both;
				}

				input, button {
					vertical-align: middle;
				}

				.option-select {
					height: $option-select-size;
					width: $option-select-size;
				}

				.option-content {
					height: $buttons-size - 2 * $both-input-button-borders;
					width: 75%;
					padding-left: round(0.5 * $option-select-size);
				}

				.option-delete {
					height: $buttons-size;
					width: $buttons-size;
					color: #bb0000;
				}
			}
		}

		input.option-add {
			height: $buttons-size;
			width: $buttons-size * 3;
			margin-left: $option-select-size;
			color: #0b0;
		}
	}
}

button {
	padding: 6px 12px;
	background: #b7f2f4;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b7f2f4), to(#81e8eb));
	background: -moz-linear-gradient(#b7f2f4, #81e8eb);
	background: linear-gradient(#b7f2f4, #81e8eb);
	border: solid 1px #87d3d5;
	border-bottom: solid 3px #4fa7aa;
	box-shadow: inset 0 0 0 1px #d4f8f8;
	color: #437b7d;
	text-shadow: 0 1px 0 #bef3f5;

	&:hover {
		background: #8deaed;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8deaed), to(#9fedf0));
		background: -moz-linear-gradient(#8deaed, #9fedf0);
		background: linear-gradient(#8deaed, #9fedf0);
		border: solid 1px #79c5c7;
		border-bottom: solid 3px #4fa7aa;
		box-shadow: inset 0 0 0 1px #b9f2f5;
	}

	&:active {
		background: #84e4e7;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#84e4e7), to(#80dcdf));
		background: -moz-linear-gradient(#84e4e7, #80dcdf);
		background: linear-gradient(#84e4e7, #80dcdf);
		border: solid 1px #58999b;
		box-shadow: inset 0 10px 15px 0 #75c9cc;
	}

	&:disabled {
		background: #ccc;
	}
}
