.content {
	#test-creation-head {
		h2 {
			text-align: center;
		}

		.questions-number-wrapper {
			$elements-height: 35px;
			$elements-font-size: 2em;
			padding: $elements-height / 2;

			p {
				float: left;
				line-height: $elements-height;
				font-size: $elements-font-size;
			}

			$both-input-button-borders: 2px;

			// height = box-height + border-top + border-bottom
			input[type="number"] {
				height: $elements-height;
				font-size: $elements-font-size;
				vertical-align: top;
				width: 75px;
				margin-left: $elements-height / 2;
			}

			// height = box-height
			button {
				vertical-align: top;
				height: $elements-height + 2 * $both-input-button-borders;
				line-height: $elements-height + 2 * $both-input-button-borders;
				margin: auto;
				font-size: $elements-font-size;
			}
		}
	}

	#test-creation-body {
		overflow: hidden;

		.question-wrapper {
			$question-wrapper-margin: 1%;
			$question-wrapper-padding: 1%;
			margin: $question-wrapper-margin;
			padding: $question-wrapper-padding;
			width: 33.33% - 2 * ($question-wrapper-margin + $question-wrapper-padding); // from left and right sides
			float: left;
			position: relative;
			-webkit-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);
			-moz-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);
			box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);

			h3 {
				float: left;
				max-width: 50%;
			}

			select {
				right: 1.5%;
				position: absolute;
				max-width: 50%;
			}

			.option-wrapper {
				&:first-of-type {
					clear: both;
				}

				input:first-of-type {
					width: 5%;
					min-width: 20px;
				}

				input[type="text"] {
					max-width: 90%;
				}
			}
		}
	}

	#test-creation-after {
		#all-buttons-wrapper {
			margin: auto;
			width: 60%;

			#test-submit {
				background: #bfb;
			}
			#test-cancel {
				background: #fbb;
			}
			#test-save-draft {
				background: #bbf;
			}

			.action-button {
				padding: 5px;
				width: 33.33%;
			}
		}
	}
}
