@import "all-pages-common";

.content {
	#test-creation-head {
		h2 {
			text-align: center;
		}

		.questions-number-wrapper {
			$elements-height: round(0.5 * $main-elements-height);
			$elements-font-size: 2em;
			padding: round(0.5 * $elements-height);
			overflow: hidden;

			div:first-child {
				@extend .col-xs-12, .col-m-4, .col-4;
				float: left;
			}

			div:last-child {
				@extend .col-xs-12, .col-m-8, .col-8;
				display: inline-block;
			}

			p {
				line-height: $elements-height;
				font-size: $elements-font-size;
			}

			// height = box-height + border-top + border-bottom
			input[type="number"] {
				height: $elements-height;
				font-size: $elements-font-size;
				vertical-align: top;
				width: 75px;
				margin-left: $elements-height / 2;
			}

			// height = box-height
			button {
				vertical-align: top;
				height: $elements-height + 2 * $both-input-button-borders;
				line-height: $elements-height + 2 * $both-input-button-borders;
				margin: auto;
				font-size: $elements-font-size;
			}
		}
	}

	#test-creation-body {
		overflow: hidden;

		.question-wrapper {
			@extend .col-xs-12, .col-m-6, .col-4;
			float: left;

			.question-content {
				$question-wrapper-margin: 2%;
				$question-wrapper-padding: 2%;
				$option-select-size: 18px;
				$buttons-size: round(1.25 * $option-select-size);

				margin: $question-wrapper-margin;
				padding: $question-wrapper-padding;
				position: relative;
				-webkit-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);
				-moz-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);
				box-shadow: 0 0 5px 1px rgba(128, 128, 128, 1);

				h3 {
					max-width: 50%;
					font-size: round(1.5 * $option-select-size);
				}

				select {
					top: 5px;
					right: 5px;
					position: absolute;
					max-width: 50%;
				}

				.question-title-wrapper {
					input {
						width: 75%;
						margin-left: $option-select-size;
						font-size: $buttons-size;
						padding-left: round(0.5 * $option-select-size);
					}
				}

				.options-wrapper {
					.option-wrapper {
						margin: 2px 0;

						&:first-of-type {
							clear: both;
						}

						input, button {
							vertical-align: middle;
						}

						input.option-select {
							height: $option-select-size;
							width: $option-select-size;
						}

						input.option-content {
							height: $buttons-size - 2 * $both-input-button-borders;
							width: 75%;
							padding-left: round(0.5 * $option-select-size);
						}

						input.option-delete {
							height: $buttons-size;
							width: $buttons-size;
							color: #bb0000;
						}
					}
				}

				input.option-add {
					height: $buttons-size;
					width: $buttons-size * 3;
					margin-left: $option-select-size;
					color: #0b0;
				}
			}
		}
	}

	#test-creation-after {
		margin: 10px 0;
		.buttons-wrapper {
			@extend .col-xs-12, .col-m-12, .col-6;
			margin: auto;
			overflow: hidden;

			&:after {
				clear: both;
			}

			.button-wrapper {
				@extend .col-xs-12, .col-m-4, .col-4;
				float: left;
				
				#test-submit {
					background: #bfb;
				}
				#test-cancel {
					background: #fbb;
				}
				#test-save-draft {
					background: #bbf;
				}

				.action-button {
					width: 100%;
					height: round(1 / 2 * $main-elements-height);
					line-height: round(1 / 2 * $main-elements-height);
					font-size: round(1 / 3 * $main-elements-height);
				}
			}
		}
	}
}
