// ------------------------------ imports
@import "media-screen";
@import "reset";

// ------------------------------ images paths
$path-to-root-dir: "../";
$main-bg-image: "images/main-bg-image.jpg"; // from root dir; src:http://www.teachthevote.org/blog-content/uploads/2015/11/ThinkstockPhotos-111939554.jpg
$main-bg-image-alt-color: #fefefe;

// ------------------------------ colors
$color-links: #0db7b7;

// ------------------------------ mixins
@mixin background-size($bg-size) {
    -webkit-background-size: $bg-size;
    -moz-background-size: $bg-size;
    -o-background-size: $bg-size;
    background-size: $bg-size;
}

// ------------------------------ page structure (#page-wrap)
header {
    @extend .page-wrapper;
	$header-elem-height: 75px;

    h1 {
        border: 2px solid #000;
	    padding-left: 5%;
	    height: $header-elem-height;
	    line-height: $header-elem-height;

	    span {
		    color: #f88;
	    }
    }

	nav {
		border: 2px solid #000;
		border-top: 0;
		overflow: hidden;

		ul {
			$li-delimiter: 1px solid #000;
			list-style-type: none;
			overflow: hidden;

			li {
				overflow: hidden;
				float: left;
				border-right: $li-delimiter;

				&:nth-last-child(2) {
					border-right: none;
				}

				&:last-child {
					float: right;
					border-right: none;
				}

				a {
					width: 90%;
					height: $header-elem-height;
					line-height: $header-elem-height;
					padding: 0 5%;
					display: block;
					float: left;
					text-align: center;
					font-size: 2em;
				}
			}

			.dropdown {
				&:hover .dropdown-content {
					display: block;
					z-index: 1;
					width: inherit;
					margin-top: $header-elem-height;
				}

				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

					a {
						text-align: left;
					}
				}
			}
		}
	}
}

.content {
	padding: 5px;
}

.sidebar {

}

footer {
    @extend .page-wrapper;

    details {
	    padding: 5px;

	    summary {
		    outline: none;
	    }
    }
}

// ------------------------------ partial cases
body {
    background: $main-bg-image-alt-color url($path-to-root-dir + $main-bg-image) no-repeat center center fixed;
    @include background-size(cover); // !!! after background-property !!!
}

.page-wrapper {
    // sizes and position
    margin: 0 auto;
    position: relative;
    // styles and color design
    background: rgba(250, 250, 250, 0.95);
}

a {
    color: $color-links;
    text-decoration: none;

    &:hover {
        color: #fefefe;
        background: $color-links;
    }
}

// W3C recomendations (x2)
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2.34em; }
h4 { font-size: 2.24em; }
h5 { font-size: 1.66em; }
h6 { font-size: 1.5em; }
