extends ../../layout

block title
	title CYPI: About us

block styles
	link(rel="stylesheet" type="text/css" href="css/about.css")/

block content
	.text
		h1#page-title Часто задаваемые вопросы
		#faq-page
			.text
				h3 1. Зачем нужна регистрация?
				p
					| Регистрация на ресурсе Quizful позволяет проходить тесты разных уровней сложности, смотреть правильные ответы с объяснениями после их прохождения, обсуждать с другими пользователями статьи, вопросы тестов и вопросы собеседований, а также дает возможность получить сертификат или квалификацию, которые засвидетельствуют о вашем профессионализме.
			.text
				h3 2. Зачем вводить е-мейл при регистрации?
				p
					| Указанный вами е-мейл нужен для уведомления вас об ответах на ваши вопросы, комментарии и замечания. Также, при желании, вы можете настроить почтовую рассылку, чтобы  получать информацию о добавлении новых тестов, интересных статьей, вопросов собеседований и других обновлениях на сайте.
			.text
				h3 3. Не приходит письмо с подтверждением регистрации, что делать?
				p
					| В первую очередь убедитесь, что наше письмо не попало в папку «Спам». Если там письма не оказалось, то отправьте нам сообщение, воспользовавшись формой “оставить отзыв”, с указанием ваших регистрационных данных и описанием проблемы.
			.text
				h3 4. Как сменить пароль? Как изменить данные своего профиля?
				p
					| Для изменения пароля к своей учетной записи или для редактирования личных данных, перейдите в свой профиль и воспользуйтесь кнопкой «Редактировать»
			.text
				h3
					| 5. Как назначить тест для прохождения другому пользователю? Где я могу посмотреть результаты его тестирования?
				p
					| Для назначения теста необходимо создать ссылку, воспользовавшись кнопкой “Назначить тест”. После скопируйте ссылку на тест с кнопки "начать" нажатием правой кнопки мышки.
					| Тестирование начнется сразу после перехода пользователем по ссылке и без регистрации. Результаты прохождение теста будут отмечены особым знаком и доступны к просмотру в вашем профиле на сайте.
			.text
				h3 6. Почему для прохождения некоторых тестов требуется Q?
				p
					| Тесты уровня «Експерт» и «Quizful Certified» предназначены для опытных программистов и требуют особой подготовки к их прохождению. Количество Q, необходимое для прохождения теста, указывает на сложность и особенность данного теста.
			.text
				h3 7. Как получить сертификат?
				p
					| Для получения сертификата вам необходимо пройти тест, уровня не ниже среднего. Вы можете посмотреть, является ли тест сертификационным, в описании к тесту.
					| Для корректного отображения ваших данных в сертификате, не забывайте заполнять ФИО на странице "Профиль" вашей учетной записи.
			.text
				h3 8. Почему нет сертификатов для тестов уровня «Основы»?
				p
					| Тесты уровня «Основы» являются тестами начального уровня и требуют минимального опыта программирования.
			.text
				h3 9. Как сохранить сертификат?
				p
					| Все полученные вами сертификаты отображаются в вашем профиле, где вы можете скачать и сохранить сертификат в формате PDF. Также у вас есть возможность создать ссылку на ваш сертификат для размещения его на вашей WEB-странице.
			.text
				h3 10. Что дает получение квалификации?
				p
					| В первую очередь квалификация дает вам возможность подтвердить ваши знания. Также, вы можете отметить получение квалификации в вашем резюме, что может быть плюсом при трудоустройстве.
			.text
				h3 11. Что нужно сделать для получения квалификации?
				p
					| Для получения квалификации необходимо выполнить весь список требований к данной квалификации. Список требований указан непосредственно в описании квалификации.
			.text
				h3
					| 12. Могу ли я вместо написания своей статьи сделать перевод статьи с английского языка?
				p
					| Да, вы можете предложить перевод статьи вместо написания своей. Важным моментом является то, что перевод должен быть ваш авторский и нигде ранее не опубликован.
			.text
				h3 13. Хочу добавить новый тест, как это возможно сделать?
				p
					| Для добавления нового теста знаний необходимо предварительно связаться с администрацией для согласования темы. Новый тест знаний должен содержать минимум 20-ть вопросов.
			.text
				h3 14. Как добавить вопрос в существующий тест?
				p
					| Необходимо перейти в интересующий вас тест и воспользоваться кнопкой “Добавить вопрос” в верхнем правом углу. Не забудьте заполнить все поля на странице добавления вопроса.
			.text
				h3 15. Как стать модератором теста?
				p
					| Необходимо перейти в интересующий вас тест и отправить заявку, воспользовавшись кнопкой “Стать модератором”. Также опишите, пожалуйста, ваш опыт в данном направлении.
			.text
				h3 16. Добавил вопросы в тест. Как и где посмотреть их статус?
				p
					| Добавленные вопросы проверяются администрацией и модераторами в ручном режиме и в порядке очереди. Статус добавленного вами вопроса вы можете посмотреть в личном профиле.
			.text
				h3 17. Как получить Q?
				p
					| Список действий с указанием количества Q, которое можно получить, приведен по ссылке
					= " "
					a(href='#') Получить Q
			.text
				h3 18. Добавил статью/вопрос/тест, когда я получу свои Q?
				p
					| После проверки ваших статьи/вопроса/теста модераторами, Q будет начислено на ваш баланс.
			.text
				h3 19. Как часто происходит обновление вопросов в тестах?
				p
					| Во многих популярных тестах вопросы обновляются практически каждый день. Администрация сайта постоянно смотрит за актуальностью вопросов в тестах.
			.text
				h3 20. Могу ли я увидеть правильные ответы на тесты?
				p
					| Сервис Quziful является образовательным сервисом. После прохождения теста вы можете посмотреть правильные ответы с объяснениями. Также присутствует возможность обсудить ответы с другими пользователями.
			.text
				h3 21. Не нашел здесь ответа на свой вопрос, что делать?
				p
					| Воспользуйтесь формой “оставить отзыв” и мы ответим на ваш вопрос в ближайшее время.
			.text
				h3 22. Как связаться с администрацией сайта?
				p
					| Связаться с нами можно воспользовавшись формой “оставить отзыв”. Не забудьте указать ваши контакты для обратной связи.
			.text
				h3 23. Что такое Z (очки знаний)?
				p
					| Z - очки знаний в некоторой категории. За правильный ответ на вопрос единожды дается 1 Z, при условии, что пользователю ранее этот вопрос не встречался. Количество Z по категориям и занимаемое место можно также посмотреть в Вашем личном профиле.
