extends ../../layout

block title
	title CYPI

block styles
	link(rel="stylesheet" type="text/css" href="css/index-slider.css")/

block content
	.desc-info
		h2 Slider
	div.wrapper-slider
		input#slide1(type='radio', name='point', checked='')
		input#slide2(type='radio', name='point')
		input#slide3(type='radio', name='point')
		input#slide4(type='radio', name='point')
		input#slide5(type='radio', name='point')
		.slider
			.slides.slide1
			.slides.slide2
			.slides.slide3
			.slides.slide4
			.slides.slide5
		.controls
			label(for='slide1')
			label(for='slide2')
			label(for='slide3')
			label(for='slide4')
			label(for='slide5')

