header.col-10
	h1
		span {
		| Can you pass it?
		span }
	nav
		ul
			li.col-m-3.col-2.dropdown
				a.dropbtn(href="index.html") Stuff
				div.dropdown-content
					a(href="tests") Tests
					a(href="questions") Questions
					a(href="create-test.html") Create test
					a(href="my-drafts") My drafts
			li.col-m-3.col-2
				a(href="leaders") Leaders
			li.col-m-3.col-2.dropdown
				a.dropbtn(href="about.html") About
				div.dropdown-content
					a(href="faq.html") FAQ
			li.col-m-12.col-4
				a(href="#") Login / Register