html
	head
		block title
			title CYPI
		meta(charset="UTF-8")/
		meta(name="viewport" content="width=device-width, initial-scale=1")/
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")/
		block styles
		link(rel="stylesheet" type="text/css" href="css/all-pages-common.css")/
		block scripts
	body
		include assets/partials/header
		div.page-wrapper
			block content
		include assets/partials/footer
		block scripts-after-body