extends ../views/layout

block title
	title CYPI: About us

block styles
	link(rel="stylesheet" type="text/css" href="css/about.css")/

block content
	.text.page-wrapper
		h1#page-title Сервис онлайн тестирования Quizful
		.text
			h2 Назначение сервиса онлайн тестирования
			p
				| Проект Quizful предназначен для онлайн-тестирования специалистов в сфере информационных технологий. Quizful является community-driven сервисом и развивается во многом благодаря усилиям сообщества ИТ-специалистов.
			p
				| На Quizful вы найдете более 140 тестов:
			ul
				li тесты по администрированию (Unix, Linux, Windows, MacOS)
				li тесты по программированию (C++, Java, C#, 1C, PHP, Python, Ruby)
				li тесты по базам данных (SQL, Oracle, MS SQL, MySql)
				li тесты по веб-технологиям (HTML, CSS, JavaScript, HTTP, jQuery)
				li тесты по управлению проектами (экстремальное программирование, Scrum)
			p
				| Цель проекта - предоставить качественный сервис, который бы не только проверял уровень имеющихся знаний, но и помогал в получении новых знаний.
			p
		.text
			h2 Целевая аудитория
			p
				| Сервис Quizful рассчитан на ИТ-специалистов, которые хотят с помощью онлайн тестов
			ul
				li проверить себя в различных областях информационных технологий;
				li подготовиться к аттестации или собеседованию;
				li систематизировать свои знания и выявить "пробелы" в той или иной теме;
				li получить новые знания по интересующей теме;
				li подготовить себя к сертификационным экзаменам.
		.text
			h2 Преимущества сервиса Quizful
			ul
				li Сервис является обучающим и направлен на помощь ИТ сообществу
				li После прохождения тестов можно просмотреть правильные ответы с объяснениями
				li
					| Сервис постоянно развивается как в плане тестов, так и в плане новой функциональности
				li
					| Quizful предоставляет возможность
					= " "
					a(href='#') активно участвовать в развитии сервиса
					| : составлять вопросы, писать отзывы и комментарии, голосовать за качество тестов, участвовать в конкурсах и опросах
			br
			p
				| Мы надеемся, что этот ресурс поможет вам добиться успеха как в профессиональном так и в карьерном росте.
