extends ../layout

block title
	title Tests

block styles
	link(href='css/test-params-view.css', rel='stylesheet')
	link(href='css/all-tests-view.css', rel='stylesheet')

block scripts

block scripts-after-body
	script(src="https://code.jquery.com/jquery-1.12.4.min.js")
	script(type='text/javascript', src='scripts/paginathing.js')
	script(type='text/javascript').
		jQuery(document).ready(function ($) {
			$('.list-group').paginathing({
				perPage: 5,
				limitPagination: 5,
				containerClass: 'panel-footer'
			});
		});

block content
	.panel.panel-primary
		.desc-info
			h2.panel-title Tests list
		ul.list-group
			each test in tests
				li.test-wrapper.list-group-item
					.test-params
						// variables below are used in "_test-params", DO NOT DELETE
						- var title = test.title;
						- var subject = test.subject;
						- var description = test.description;
						- var duration = test.duration;
						- var complexity = test.complexity;
						include _test-params
					button
						a(href="test" + test.id) PASS
