html
	head
		block title
			title CYPI
		meta(charset="UTF-8")/
		meta(name="viewport" content="width=device-width, initial-scale=1")/
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")/
		block styles
		link(href='css/all-pages-common.css', rel='stylesheet')
		block scripts
	body
		include ../partials/header
		block content
		include ../partials/footer
		block scripts-after-body