extends ../layout

block title
	title CYPI, Test: #{title}

block styles
	link(href='css/test-view.css', rel='stylesheet')

block scripts

block scripts-after-body

block content
	h2 Your test (#{title}) has been uploaded successfully!
	span
		a(href="/test" + id) Pass it
		= " "
		| right now!
