[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
* {
  margin: 0;
  padding: 0; }

header {
  padding: 10px; }
  header h1 {
    border: 2px solid #000;
    text-align: center;
    font-size: 48px; }

nav {
  border: 2px solid #000;
  border-top: 0px; }
  nav .link-wrap {
    display: inline-block;
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center; }
    nav .link-wrap a {
      font-size: x-large; }

footer {
  position: absolute;
  bottom: 0;
  left: 5%; }
  footer summary {
    outline: none; }

body {
  background: #fefefe url("../images/main-bg-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-wrapper {
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: rgba(250, 250, 250, 0.85); }

a {
  color: #0db7b7;
  background: rgba(128, 128, 128, 0.05);
  text-decoration: none; }
  a:hover {
    color: #fefefe;
    background: #0db7b7; }
